@import url('../fonts/stylesheet.css');

* {
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

:root {
    --myBlue: #4F27BF;
}


.title {
    margin-bottom: rem(16);
    font-weight: 700;
    font-size: rem(26);
    line-height: rem(32);
}